@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  background-color: #fefefe;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* color: #fff; */
}

.link {
  padding: 10px 20px;
  margin: 0 20px;
  text-decoration: 'none';
}

table {
  height: 100%;
}

table.shiftSheet {
  width: 90vw;
  text-align: left;
  border-collapse: collapse;
}

table.shiftSheet td,
table.shiftSheet th {
  border: 1px solid #00000030;
  padding: 5px 5px;
}

table.shiftSheet tbody td {
  font-size: 13px;
  padding: 10px 5px;
}

table.shiftSheet thead {

  border-bottom: 2px solid #00000060;
}

table.shiftSheet thead th {
  font-size: 15px;
  font-weight: 900;
  color: #000;
  padding: 20px 10px;
}

.active {
  background-color: rgb(136 255 54 / 60%);
  border-radius: 20px;
  outline: none;
}

.highlight {
  background-color: rgb(234, 255, 0, 0.7);
  font-weight: 700;
}